.pesron .profile{
 width: 100%;
 height: 3.2rem;
 overflow: hidden;
 box-sizing: border-box;
 padding-top: .66667rem;
 padding-bottom: .66667rem;
 box-shadow: 0 0.02667rem 0.06667rem #eee;
 background-color: #fff;
 overflow: hidden;
 position: relative;
 z-index: 2
}
.profile>div{
float: left;
}
.profile .img {
 width: 1.86667rem;
 height: 1.86667rem;
 margin-right: .4rem;
 border-radius: .93333rem;
 overflow: hidden;
}
.profile .img img{
 width: 100%
}
.profile .detail{
 width: 6.9rem;
}
.profile .detail h2{
 padding-top: .10667rem;
 padding-bottom: .32rem;
 font-size: .42667rem;
 color: #24211f;
 white-space: nowrap;
 text-overflow: ellipsis;
 line-height: 1;
}
.profile .detail p{
 margin-bottom: .08rem;
 font-size: .32rem;
 color: #8a8886;
 line-height: 1.5
}
.pesron-list li{
 position: relative;
 height: 1.4rem;
 line-height: 1.4rem;
 box-sizing: border-box;
 border-bottom: .01333rem solid #dedede;
 background-color: #fff;
}
.pesron-list li>a {
 display: block;
 width: 100%;
 padding: 0 0.4rem;
 box-sizing: border-box;
 height: 100%;
 font-size: .37333rem;
 color: #24211f;
 overflow: hidden;
}
.pesron-list li i{
 display: inline-block;
 width: .58667rem;
 height: .58667rem;
 background: url(../../images/person1.png) center no-repeat;
 background-size: 100%;
 vertical-align: middle;
}
.pesron-list li .right{
 font-size: .37333rem;
 color: #8a8886;
}
.pesron-list li:nth-child(1) i{

}