.go-home{
 height: 1.09333rem;
 line-height: 1.09333rem;
 padding: 0 .4rem;
 text-align: center;
 border-bottom: 1px solid #ededed;
 background-color: #fff;
 text-align: right
}
.go-home a{
 display: inline-block;
 line-height: 1.09333rem;
 height: 100%;
 font-size: .37333rem;
 vertical-align: top;
 color: #60aaed;
}
.go-home .empty{
  font-size: .37333rem;
  color: #8a8886;
  display: inline-block;
  height: 100%;
  padding-right:0.26667rem;
  vertical-align: middle;
}
.margin-dom{
 margin-right:0.26667rem;
 width: 0;
 border-right:1px solid  #8a8886;
 height: .24rem;
 display: inline-block;
 vertical-align: middle;
}
#history .go-home a{
 vertical-align: middle;
}